<h1> <%= @dish.name %> </h1>
<p>Description: <%=  @dish.description %> </p>
<% @dish.ingredients.each do |ingredient| %>
<ul>
  <li>Ingredient: <%= ingredient.name  %> </li>
</ul>
<% end %>
<p>Chef: <%= @dish.chef.name %> </p>
<p>Calories: <%= @dish.calorie_total  %> </p>
