<h1><%= @dish.name %></h1>
<p><%= @dish.description %></p>
<%= "#{@total_calories} calories" %>

<h2> Ingredients In This Dish: </h2>
<% @dish.ingredients.each do |ingredient| %>
<%= ingredient.name %>
<% end %>

<h2> Chefs: </h2>
<%= @dish.chef.name %>
